@CHARSET "UTF-8";

.container{
	
	margin-top: 30%;

}
.api{
	text-align:center;
	
}
.table{
  border-collapse: collapse;
  width: 100%;
  background-color:white;
}

.table th,.table td {
  text-align: center;
  padding: 8px;
}

th{

	background-color: #E8D9FF;

}

.boxtr:nth-child(odd) {background-color: #f2f2f2;}


#frmup{
	
	width:400px;
	padding-top:100px;
	margin:10px 0 0 250px;	
	background:white;
}
#frm{
	width:100%;
	padding-top:15%;
	margin:10px 0 0 40%;	
	background:white;

}

.write{
	padding-bottom:10px;
	width:56%;
	height:1000px;

}

.writeup{
	padding-bottom:10px;
	width:56%;
	height:1000px;
} 

 
input[type=button]{
  background-color:write;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family:'Jua', sans-serif; 
  font-size: 12px;
  font-weight:bold;
  margin: 1px 1px;
  cursor: pointer;
  border:1px solid #E8D9FF;
  
}
.wbut1{

	margin-top:40px;
	text-align:right;
}

.wbut2{
	margin-top:30px;
	margin-left:10%;
	text-align:justify;

}
